cc_test(
    name = "[% test.target_name %]",
    srcs = [
        [% FOREACH s IN test.srcs %]"[% s %]",[% END %]
    ],
    copts = [
        "-I.",
        "-Iexternal/upb",
        "[% test.ccflags %]",
        "[% test.extra_ccflags %]",
        "-I[% test.core_path %]",
        [% FOREACH f IN test.perl_ccopts %]"[% f %]",[% END %]
    ],
    linkopts = [
        "[% test.ldflags %]",
        [% FOREACH f IN test.perl_linkopts %]"[% f %]",[% END %]
    ],
    deps = [
        [% FOREACH d IN test.deps %]"[% d %]",[% END %]
    ],
)
