t/data/test_descriptor.bin: t/c/test.proto
	@echo "Generating t/data/test_descriptor.bin from t/c/test.proto"
	@mkdir -p t/data
	protoc --descriptor_set_out=t/data/test_descriptor.bin --include_imports --proto_path=t/c --proto_path=.. t/c/test.proto

t/data/wkt_descriptor.bin:
	@echo "Generating t/data/wkt_descriptor.bin"
	@mkdir -p t/data
	protoc --descriptor_set_out=t/data/wkt_descriptor.bin --include_imports --proto_path=../src \
		google/protobuf/any.proto \
		google/protobuf/duration.proto \
		google/protobuf/timestamp.proto \
		google/protobuf/field_mask.proto \
		google/protobuf/struct.proto \
		google/protobuf/wrappers.proto
