BUILD.bazel: maint/gen_build_bazel.pl inc/templates/BUILD.bazel.tt inc/templates/bazel_src_list.tt inc/templates/bazel_c_test.tt inc/templates/bazel_c_bench.tt
	$(PERL) maint/gen_build_bazel.pl

.PHONY: bazel_build_protoc_plugin
bazel_build_protoc_plugin: BUILD.bazel
	bazel --output_base=/usr/local/google/home/cjac/.gemini/tmp/protobuf/bazel_output_base build //perl:protoc-gen-perl-pb
	@echo "Copying Bazel-built plugin to $(CURDIR)/protoc-gen-perl-pb"
	@cp -f $(shell bazel --output_base=/usr/local/google/home/cjac/.gemini/tmp/protobuf/bazel_output_base info bazel-bin)/perl/protoc-gen-perl-pb $(CURDIR)/protoc-gen-perl-pb
