# Editor/OS
*~
.DS_Store
.#*

# Build
/blib/
/pm_to_blib
/_build/
/Build
.Bsort.tmp
*.o
*.a
*.so
*.bs
*.x
*.xsc
*.bin
lib/*.c
lib/Protobuf/*.c
*.BUILD
BUILD.bazel
src_google_protobuf_descriptor.pb.cc

# Test
/cover_db/
# Ignore all files and directories within t/c by default
t/c/**

# BUT, don't ignore directories within t/c, so Git can traverse into them
!t/c/**/

# Now, re-include the specific file types you want to track
!t/c/**/*.h
!t/c/**/*.c
!t/c/**/*.proto

# Ignore these test-related files
*.gcov
*.gcno
*.gcda

# Distribution
Protobuf-*
MYMETA.*
Makefile
Makefile.old
MANIFEST.bak
ppport.h

*.bak
vgcore.*
